<div>
  <div>
    <h1>
      Photo details
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>
    <%if @the_photo.owner_id == @current_user.id%>
      <div>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete this photo
        </a>
      </div>
    <%end%>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= User.where(:id => @the_photo.owner_id).at(0).username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= Like.where(:photo_id => @the_photo.id).count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= Comment.where(:photo_id => @the_photo.id).count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        
      </dd>


      <dt>
        Add a fan
      </dt>
      <% if Like.where(:photo_id => @the_photo.id).where(:fan_id => @current_user.id).at(0) == nil%>
        <dd>
          <form action="/insert_like" method="post">
            <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
            <button>Like</button>
          </form>
        </dd>
      <%else%>
        <dd>
          <a href="/delete_like/<%= Like.where(:photo_id => @the_photo.id).where(:fan_id => @current_user.id).at(0).id %>">Unlike</a>
        </dd>
      <%end%>
      

      
    </dl>
  </div>
</div>

<hr>




<%if @current_user.id == @the_photo.owner_id%>
<div>
  <div>
    <h2>
      Edit photo
    </h2>

    <form action="/modify_photo/<%=@the_photo.id%>" method="post" enctype="multipart/form-data">
      <div>
        <label for="image_box1">
          Image
        </label>

        <input type="file" id="image_box1" name="query_image" placeholder="Enter a URL for the image" value="<%=@the_photo.image%>">
      </div>

      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption" placeholder="Enter a caption for the photo..."><%=@the_photo.caption%></textarea>
      </div>

      <button>
        Update photo
      </button>
    </form>
  </div>
</div>
<%else%>
<%end%>
<hr>
<h2>Comments</h2>

<table>
  <tr>
    <th>
      Commenter
    </th>
    <th>
      Comment
    </th>
    <th>
      Posted
    </th>
  </tr>

<%@list_of_comments.each do |a_comment|%>
  <tr>
    <td>
      <%=User.where(:id=>a_comment.author_id).at(0).username%>
    </td>
    <td>
      <%=a_comment.body%>
    </td>
    <td>
      <%=time_ago_in_words(a_comment.created_at)%>
    </td>

  </tr>
<%end%>

</table>


<h3>Add comment</h3>

<form action="/insert_comment" method="post">
  <input type="hidden" value="<%=@the_photo.id%>" name="query_photo_id">
  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>
  <button>
    Add a comment
  </button>
</form>
